.table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 48vw;
}
.thead {
    background: black;
    color: #fff;
    height: 40px;
    box-sizing: content-box;
}

.inputCheckBox {
    width: 20px;
    height: 20px;
}
