.line {
    background-color: #fffaf3;
    border: 1px solid #000000;
    box-sizing: border-box;
}

.none {
    background-color: burlywood;
    width: 100%;
}

.none:hover{
    background-color: bisque;
}

.none:focus{
    background-color: bisque;
}

.button {
    margin: 0;
    padding: 0;
    width: 100%;
}

.checkTd {
    background-color: rgba(217, 221, 146, 0.2);
}

.td {
    text-align: left;
    font-size: 18px;
    padding: 12px;
    background-color: rgba(217, 221, 146, 0.2);
}

.inputCheckBox {
    width: 20px;
    height: 20px;
}

.tdName {
    width: 12vw;
}

.inputText {
    font-size: 16px;
    background-color: transparent;
    border: none;
    width: 91%;
    padding: 12px 12px;
    font-family: 'Poppins', sans-serif;
}

.inputText:focus {
    background-color: #fffaf3;
    box-sizing: border-box;
}

.inputText:disabled {
    color: #000000;
}
